# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
egg-info/
.installed.cfg
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
venv.bak/
venv_test/
*.env

# Jupyter Notebook files
.ipynb_checkpoints
*.ipynb

# MyPy
.mypy_cache/

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
*.py,cover

# pyenv
.python-version

# Pylint
pylint.log

# Sphinx documentation
docs/_build/
